package onix

import (
	"encoding/xml"
	"fmt"
)

{{#.}}

// {{xmlReferenceName}} is not documented.
type {{xmlReferenceName}} struct {
{{#elements}}
{{#optional}}
	{{xmlReferenceName}} {{typeName}} `xml:"{{shortname}},omitempty"`
{{/optional}}
{{^optional}}
	{{xmlReferenceName}} {{typeName}} `xml:"{{shortname}}"`
{{/optional}}
{{/elements}}
}
{{/.}}
