package onix

{{#.}}

// {{xmlReferenceName}} is not documented.
type {{xmlReferenceName}} struct {
{{#elements}}
{{#optional}}
{{#iterable}}
	{{xmlReferenceName}} []{{typeName}} `xml:"{{shortname}},omitempty"`
{{/iterable}}
{{^iterable}}
	{{xmlReferenceName}} {{typeName}} `xml:"{{shortname}},omitempty"`
{{/iterable}}
{{/optional}}
{{^optional}}
{{#iterable}}
	{{xmlReferenceName}} []{{typeName}} `xml:"{{shortname}}"`
{{/iterable}}
{{^iterable}}
	{{xmlReferenceName}} {{typeName}} `xml:"{{shortname}}"`
{{/iterable}}
{{/optional}}
{{/elements}}
}
{{/.}}
